nav a {
    font-size: 40px;
    text-decoration: none;
    color: black;
}

nav h1 {
    padding-right: 20px;
}

nav {
    background-color: rgb(146, 207, 209);
}

.container h1 {
    text-align: center;
    padding-top: 20px;
}

.container p {
    text-align: center;
    padding-top: 20px;
}

.table {
    margin-top: 30px;
}