body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-image: url(../Chapter-3/assets/requirements.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 20% 20%;
}

.container {
    display: grid;
    place-items: center;
}

a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    color: #FFB548;
    position: absolute;
    left: 20px;
}

p {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 25px;
    color: #FFB548;
    margin-bottom: 20px;
}

form {
    position: absolute;
    top: 10%;
    display: grid;
    width: 50%;
    background-color: rgba(17, 17, 17, 0.9);
    border-radius: 15px;
    place-items: center;
}

input {
    position: relative;
    margin-top: 20px;
    height: fit-content;
    width: 75%;
    height: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFB548;
    background: rgba(255, 255, 255, 0.08);
}

input::placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFB548;
}

button {
    margin-top: 40px;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #1A1917;
    height: 40px;
    width: 30%;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
    body {
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-image: url(../Chapter-3/assets/requirements.png);
        width: 100%;
        height: 100%;
        background-size: auto;
        background-position: 75% 20%;
    }
    
    form {
        width: 80%;
    }
    
}